.card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #575050;;
  font-family: Arial, sans-serif;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

.card button:hover {
  background-color: #e0e5eb;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* margin-bottom: 15px; */
  object-fit: cover;
}