

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  color: white;
}

.btn{
  cursor: pointer;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25em;
  background-color: #007bff;
  color: white;
  font-size: 1em;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #585858;
  padding: 2em;
  border-radius: 0.5em; 
}

.form input{
  padding: 10px;
  border: 1px solid #555;
  border-radius: 0.25em;
  background-color: #444;
  color: white;
  margin-right: 20px;
  width: 340px;
}

.log {
  margin-top: 1em;
  padding: 1em;
  background-color: #222;
  border-radius: 0.5em;
  font-family: monospace;
  white-space: pre-wrap;
}

.log input {
  color: #00ff00;
  width: 400px;
}