:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
    place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
  font: inherit;
  color: inherit;
  background: none;
  border-radius: 5%;
  border-color: aliceblue;
  padding: 10px;
  margin: 20px;
}

.showdata {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  margin: 20px;
  gap: 20px;
}

.fetchapi, .axiosapi {
  border: 1px solid white;
  padding: 10px;
  width: 45%;
  min-height: 200px;
}